   .navbar {
    background-color: #451952;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }
  
  .logo-text{
    text-align: center;
  }
  .logo {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #ffd700;
  }
  
  
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    ul {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-top: 10px;
    }
  
    li {
      margin: 0;
      margin-bottom: 10px;
    }
  }
  .logo-img {
    width: 120px; 
    height: 120px; 
  }
  
.predictive{
  color: white;
  cursor: pointer;
  font-weight: bold;

}
.predictive:hover{
  color: #F39F5A;
}


  
  